.product-image-container {
  width: 100%;
  height: 280px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-image {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #f8f9fa;
}

/* Navbar */
.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
  color: #28a745 !important;
}

.navbar-nav .nav-link {
  font-weight: 500;
}

/* Tắt nút x xoá trong ô tìm kiếm */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* Layout */
.main-layout {
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 300px;
  background-color: #f8f9fa;
  padding: 1rem;
  border-right: 1px solid #dee2e6;
  overflow-y: auto;
}

.sidebar .nav {
  margin-top: 1rem;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding: 0.6rem 0.75rem;
  margin: 0.2rem 0;
  transition: background-color 0.2s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #e2f0d9;
  border-radius: 8px;
  color: #198754;
}

/* Main content */
.main-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.5rem;
}

/* Divider */
.sidebar-divider {
  border: none;
  border-top: 1px solid #6c757d;
  margin: 1.2rem 0;
}

*::-webkit-scrollbar {
  width: 6px;
}
